android/key.properties
android/app/**/*.aab

.DS_Store
.atom/
.idea
*.iml

.dart_tool
.packages
.pub/
build/
android/gen/
ios/.generated/
ios/Flutter/flutter_export_environment.sh
out/
packages
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
